{# prop volumes string #}
{# prop reserved string #}

{% props volumes = "0", reserved = "0" %}

<div class="flex flex-wrap gap-2">
    <div class="badge badge-neutral p-3 font-sans text-[10px] uppercase tracking-widest">{{ volumes }} VOLUMES</div>
    <div class="badge badge-primary p-3 font-sans text-[10px] uppercase tracking-widest">{{ reserved }} RESERVED</div>
</div>
