COMPOSE_PROJECT_NAME=app-prod

# Symfony
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=app-prod
POSTGRES_DB=app_prod
POSTGRES_USER=app_prod
POSTGRES_PASSWORD=app-prod
POSTGRES_VERSION=16
POSTGRES_CHARSET=utf8

# Lexik JWT
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=app-prod

# MinIO
MINIO_ROOT_USER=minio_prod
MINIO_ROOT_PASSWORD=app-prod

# Hosts
APP_HOST=prod.app.local
S3_HOST=prod.s3.local
MINIO_CONSOLE_HOST=prod.minio.local
DEFAULT_URI=https://prod.app.local
