COMPOSE_PROJECT_NAME=app-staging

# Symfony
APP_ENV=prod
APP_DEBUG=0
APP_RUNTIME_ENV=staging
APP_SECRET=app-staging
POSTGRES_DB=app_staging
POSTGRES_USER=app_staging
POSTGRES_PASSWORD=app-staging
POSTGRES_VERSION=16
POSTGRES_CHARSET=utf8

# Lexik JWT
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=app-staging

# Notifuse
NOTIFUSE_TOKEN=app-staging
DB_HOST=database
DB_PORT=5432
DB_USER=app_staging
DB_PASSWORD=app-staging
SECRET_KEY=app-staging

# MinIO
MINIO_ROOT_USER=minio_staging
MINIO_ROOT_PASSWORD=app-staging

# Hosts
APP_HOST=staging.app.local
NOTIFUSE_HOST=notifuse.staging.app.local
S3_HOST=s3.staging.app.local
MINIO_CONSOLE_HOST=minio.staging.app.local
DEFAULT_URI=https://staging.app.local
